<template>
    <div class="block">
      <el-date-picker
                v-model="value2"
                class=" w-auto"
                type="daterange"
                align="right"
                unlink-panels
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
                :picker-options="pickerOptions"
              >
              </el-date-picker>
    </div>
</template>

<script>
export default {
  data () {
    return {
      checkedCities: ['Transaction'],
      value1: '',
      value2: '',
      tableData: []
    }
  }
}
</script>
